<h1>Wybory samorządowe - aplikacja wspomagająca zliczanie głosów</h1>

 
 <div class="image_map">
 	<img alt="Obrazek" src="/assets/mapa_polski.png"  height="480" width="510"  align="middle" />
 </div>

<% if current_user %>
    <li><%= link_to 'Twój profil', users_path %></li>
    <li><%= link_to 'Komitet', @committe %> </li>
<% end %>

