<h1>Wybory samorządowe - aplikacja wspomagająca zliczanie głosów</h1>

<% if current_user %>
    <li><%= link_to 'Twój profil', users_path %></li>
    <li><%= link_to 'Komitet', @committe %> </li>
<% end %>

