<h1>Lista województw</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa województwa</th>
      <th>Frekwencja</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voivodships.each do |voivodship| %>
      <tr>
        <td><%= voivodship.name %></td>
        <% if voivodship.districts.blank? %>
          <td>Brak danych</td>
        <% else %>
        <td><%= @counts[voivodship.name]  %>%</td><% end %>
        <td><%= link_to 'Rozwiń', voivodship %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>


